<!-- header -->
<div class="sticky-top">
  <div id="header">
    <div class="d-flex justify-content-around">
      <div class="logo_slogan d-flex ml-5 mt-3">
        <img id="logo" src="../assets/image/Logo/Original@2x.png" alt="" data-toggle="tooltip" data-placement="bottom"
          title="Bộ y tế" />
        <h4 id="Text_slogan">
          Hệ thống quản lý quốc gia về đăng ký, cấp phép hành nghề khám chữa, chữa
          bệnh
        </h4>
      </div>
      <div class="d-lex mt-3 btnUer">
        <button style="font-family: HelveticaNeue;
            font-weight: bold;
            font-size: 14px;
            color: #1b153a;
            letter-spacing: 0;
            text-align: center;
            line-height: 18px;" class="btn btn-link">
          Đăng ký
        </button>
        <Button class="btnDangNhap btn-ouline">Đăng Nhập</Button>
      </div>
    </div>

  </div>
  <div id="menu">
    <div class="d-flex justify-content-around">
      <ul>
        <li><a href="">Trang chủ</a></li>
        <li><a href="">Tra cứu</a></li>
        <li><a href="">Dịch vụ công</a></li>
        <li><a href="">Văn bản pháp luật</a></li>
        <li><a href="">Tin tức</a></li>
        <li><a href="">Giới thiệu</a></li>
        <li><a href="">Liên hệ</a></li>
      </ul>
      <div class="d-flex mt-2">
        <a href=""><img src="../assets/image/vietnam.png" alt="" /></a>
        <p>|</p>
        <a href=""><img src="../assets/image/uk.png" alt="" /></a>
      </div>
    </div>
  </div>
</div>
<!-- End Header -->

<!-- Main -->
<div id="main">
  <div id="slide_main">
    <div class="d-flex justify-content-around">
      <div id="card" class="card text-center">
        <ul class="d-flex justify-content-between mr-5 mt-3">
          <li class="nav-item">
            <a id="textCard" class="nav active" href="#">Người Hành Nghề</a>
          </li>
          <li class="nav-item">
            <a id="textCard" class="nav active" href="#">CSKCB</a>
          </li>
        </ul>
        <div class="card-body mt-0">
          <input type="text" id="Text-input-card" placeholder="Họ và tên">
          <select id="country" name="country">
            <option>Tỉnh/Thành phố</option>
            <option value="hanoi">Hà nội</option>
            <option value="bacgiang">Bắc giang</option>
          </select>
          <select id="District" name="District">
            <option>Quận/Huyện</option>
            <option value="hanoi">Cầu giấy</option>
            <option value="bacgiang">Hiệp hòa</option>
          </select>
          <select id="range" name="range">
            <option>Phạm vi chuyên môn</option>
            <option value="hanoi">Cầu giấy</option>
            <option value="bacgiang">Hiệp hòa</option>
          </select>
          <Button id="btnTimkiem">Tìm Kiếm</Button>
        </div>
      </div>
      <div id="dangKyHoSo" class="d-flex align-items-end mr-5">
        <Button id="btnDangkyHoSo"><img class="mr-3" src="../assets/image/Icon/16px/Register/Black.png" alt="">Đăng ký
          hồ sơ trực tuyến
        </Button>
      </div>
    </div>

  </div>
  <div id="about-card">
    <div class="d-flex align-content-stretch justify-content-around  flex-wrap m-5">
      <div id="card-about" class="card" style="width: 200px;">
        <div class="card-body ">
          <img src="../assets/image/Icon/64px/1.png" alt="">
          <p id="textTitlep">Cấp chứng chỉ hành nghề</p>
          <p id="card-text">Các chứng chỉ hành nghề : bác sĩ , dược sĩ ...</p>
        </div>
      </div>
      <div id="card-about" class="card" style="width: 200px;">
        <div class="card-body ">
          <img src="../assets/image/Icon/64px/2.png" alt="">
          <p id="textTitlep">Cấp giấy phép hoạt động</p>
          <p id="card-text">Các chứng chỉ hành nghề : bác sĩ , dược sĩ ...</p>
        </div>
      </div>
      <div id="card-about" class="card" style="width: 200px;">
        <div class="card-body ">
          <img src="../assets/image/Icon/64px/3.png" alt="">
          <p id="textTitlep">Quản lý hành nghề</p>
          <p id="card-text">Các chứng chỉ hành nghề : bác sĩ , dược sĩ ...</p>
        </div>
      </div>
      <div id="card-about" class="card" style="width: 200px;">
        <div class="card-body ">
          <img src="../assets/image/Icon/64px/4.png" alt="">
          <p id="textTitlep">Quản lý Đào tạo liên tục</p>
          <p id="card-text">Các chứng chỉ hành nghề : bác sĩ , dược sĩ ...</p>
        </div>
      </div>
      <div id="card-about" class="card" style="width: 200px;">
        <div class="card-body ">
          <img src="../assets/image/Icon/64px/5.png" alt="">
          <p id="textTitlep">Thủ tục hành chính</p>
          <p id="card-text">Các chứng chỉ hành nghề : bác sĩ , dược sĩ ...</p>
        </div>
      </div>
      <div id="card-about" class="card" style="width: 200px;">
        <div class="card-body ">
          <img src="../assets/image/Icon/64px/6.png" alt="">
          <p id="textTitlep">Đặt lịch khám bệnh</p>
          <p id="card-text">Các chứng chỉ hành nghề : bác sĩ , dược sĩ ...</p>
        </div>
      </div>
    </div>
  </div>
  <h2 id="TinTuc_SuKien">Tin tức và sự kiện</h2>
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-around">
      <div class="owl-carousel owl-theme" id="owl-carousel" style="width: 90%;">
        <div class="item">
          <div class="card" style="width: 263px;height:290px ;">
            <img class="card-img-top" src="../assets/image/slide/7.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bộ Y tế cử Tổ công tác thường trực 24/7 phòng chống dịch hỗ trợ Vĩnh Phúc.</h5>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="card" style="width: 263px;height:290px ;">
            <img class="card-img-top" src="../assets/image/slide/5.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bộ Y tế cử Tổ công tác thường trực 24/7 phòng chống dịch hỗ trợ Vĩnh Phúc.</h5>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="card" style="width: 263px;height:290px ;">
            <img class="card-img-top" src="../assets/image/slide/7.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bộ Y tế cử Tổ công tác thường trực 24/7 phòng chống dịch hỗ trợ Vĩnh Phúc.</h5>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="card" style="width: 263px;height:290px ;">
            <img class="card-img-top" src="../assets/image/slide/7.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bộ Y tế cử Tổ công tác thường trực 24/7 phòng chống dịch hỗ trợ Vĩnh Phúc.</h5>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="card" style="width: 263px;height:290px ;">
            <img class="card-img-top" src="../assets/image/slide/7.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bộ Y tế cử Tổ công tác thường trực 24/7 phòng chống dịch hỗ trợ Vĩnh Phúc.</h5>

            </div>
          </div>
        </div>
        <div class="item">
          <div class="card" style="width: 263px;height:290px ;">
            <img class="card-img-top" src="../assets/image/slide/8.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Bộ Y tế cử Tổ công tác thường trực 24/7 phòng chống dịch hỗ trợ Vĩnh Phúc.</h5>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="align_popup" >
      <div class="cardPopup" id="Popup">
        <div class="d-flex flex-column m-2">
          <div class="d-flex flex-row justify-content-between mt-3">
            <img src="../assets/image/Icon/colse.png" class="img_colse" onclick="closeForm()" alt="">
            <div class="d-flex flex-column">
              <h4>Hi! How can we help you?</h4>
              <div class="d-flex flex-row justify-content-sm-around">
                <img src="https://1.bp.blogspot.com/-emHO_9HVxGU/WZazwgy8_rI/AAAAAAAAAhs/3Zg7j4TZAlM2gMovjXK4FAEf3ju55hmEwCLcBGAs/s1600/18881967_131782964052220_5128435195745790304_n.jpg"valt="" class="avater">
                  <p>Seth Cottle <a href="">Not you?</a></p>
              </div>
            </div>
            <img id="logo" style="border-radius: 1px;" src="../assets/image/Logo/Original@2x.png" alt="" data-toggle="tooltip" data-placement="bottom">
          </div>

        </div>
        <hr style="border-top: 1px solid #E5E5E5;">
        <a href="#"  style="margin-left: 175px;" class="chatNow">Chat Now</a>

      </div>
      <button type="button" onclick="openForm()" class="myButton btn btn-light">
        <i id="icon_messger" class='fab fa-facebook-messenger'></i>
      </button>
    </div>

  </div>

</div>

<!-- End Main -->

<!-- Footer -->
<div id="footer">
  <div class="container  d-flex flex-column ">
    <img style="width: 48px;height: 48px;margin: 0 auto; margin-top:50px;" src="../assets/image/Logo/White@2x.png"
      alt="" data-toggle="tooltip" data-placement="bottom" title="Bộ y tế" />
    <div class="mt-5 mb-5" style="border: 1px solid rgb(231, 206, 206);opacity:0.1;">
    </div>

    <div class="d-flex flex-row mt-5 justify-content-between flex-wrap">
      <div class="d-flex flex-column">
        <p id="text_contact">Điện thoại: (84-24) 6273 2110</p>
        <p id="text_contact">Fax: (84-24) 6273 2110</p>
        <p id="text_contact">Email: Kcb@moh.gov.vn</p>
        <p id="text_contact">Địa chỉ: 138A, Giảng Võ, Ba Đình, Hà Nội.</p>
      </div>
      <div class="d-flex flex-column">
        <p id="Text">Về chúng tôi</p>
        <p id="text_contact">Giới thiệu hệ thống</p>
        <p id="text_contact">Hướng dẫn sử dụng</p>
        <p id="text_contact">Hỗ trợ</p>
      </div>
      <div class="d-flex flex-column">
        <p id="Text">Mobile app</p>
        <a href=""> <img src="../assets/image/Badge/Apple store.png" alt=""></a>
        <a href="" class="mt-1"> <img src="../assets/image/Badge/Play store.png" alt=""></a>

      </div>
      <div class="d-flex flex-column">
        <p id="Text">Kết nối với chúng tôi</p>
        <p style="color: rgb(255, 255, 255); font-size: 32px;">1900 66 77</p>
        <p id="text_contact">Email: gopy_hny@savis.com</p>
        <div class="d-lex flex-row">
          <a href="" class="m-3"><img src="../assets/image/Icon/24px/Facebook/White.png" alt=""></a>
          <a href="" class="m-3"><img src="../assets/image/Icon/24px/Name icon/White.png" alt=""></a>
          <a href="" class="m-3"><img src="../assets/image/Icon/24px/Name icon/White Copy 1.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer -->

