<div class="divAll">
  <!--  HEADER -->
  <div class="sticky-top">
    <div id="header">
      <div class="container">
        <div class="d-flex justify-content-between">
          <div class="d-flex  container_header">
            <img id="img_logo" src="../assets/image/Logo/Original@2x.png" alt="" data-toggle="tooltip"
              data-placement="bottom" title="Bộ y tế" />
            <h4 id="Text_slogan">
              Hệ thống quản lý quốc gia về đăng ký, cấp phép hành nghề khám chữa, chữa bệnh
            </h4>
          </div>
          <div class="d-lex container_header">
            <button id="btnRegistration" class="btn btn-link">
              Đăng ký
            </button>
            <Button id="btnLogin" class=" btn-ouline">Đăng Nhập</Button>
          </div>
        </div>
      </div>
    </div>
    <div id="menu">
      <div class="container">
        <div class="d-flex justify-content-between">
          <ul id="menu_ul">
            <li><a href="">Trang chủ</a></li>
            <li><a href="">Tra cứu</a></li>
            <li><a href="">Dịch vụ công</a></li>
            <li><a href="">Văn bản pháp luật</a></li>
            <li><a href="">Tin tức</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">Liên hệ</a></li>
          </ul>

  <div class="d-flex mt-1">
            <div>
              <a class="mr-2 imgLanguge" href=""><img src="../assets/image/vietnam.png" alt="" /></a>
            </div>
            <p class="mr-2" style="opacity: 0.2;"> | </p>
            <div>
              <a class="imgLanguge" href=""><img src="../assets/image/uk.png" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header -->

  <!-- Main -->
  <div id="main">
    <div id="slide_main">
      <div class="container">
        <div class="d-flex justify-content-between">
          <div id="card" class="card text-center">
            <div class="card-body">
              <div class="tab ml-3 mr-3 mb-2 d-flex">
                <button class="tablinks" onclick="openCity(event, 'NguoiHanhNghe')">Người Hành Nghề</button>
                <button class="tablinks" onclick="openCity(event, 'CSKCB')">CSKCB</button>
                <hr>
              </div>


              <div id="NguoiHanhNghe" class="tabcontent " style="display: block;">
                <input type="text" id="Text-input-card" placeholder=" Họ và tên">
                <div class="select">
                  <select id="country" name="country">
                    <option selected disabled>Tỉnh/Thành phố</option>
                    <option value="hanoi">Hà nội</option>
                    <option value="bacgiang">Bắc giang</option>
                  </select>
                </div>
                <div class="select">
                  <select id="District" name="District">
                    <option selected disabled>Quận/Huyện</option>
                    <option value="hanoi">Cầu giấy</option>
                    <option value="bacgiang">Hiệp hòa</option>
                  </select>
                </div>
                <div class="select">
                  <select id="range" name="range">
                    <option selected disabled>Phạm vi chuyên môn</option>
                    <option value="hanoi">Cầu giấy</option>
                    <option value="bacgiang">Hiệp hòa</option>
                  </select>
                </div>
                <Button id="btnTimkiem">Tìm Kiếm</Button>
              </div>

              <div id="CSKCB" class="tabcontent">
                <input type="text" id="Text-input-card" placeholder=" Tên CSKCB">
                <div class="select">
                  <select id="country" name="country">
                    <option selected disabled>Tỉnh/Thành phố</option>
                    <option value="hanoi">Hà nội</option>
                    <option value="bacgiang">Bắc giang</option>
                  </select>
                </div>
                <div class="select">
                  <select id="District" name="District">
                    <option selected disabled>Quận/Huyện</option>
                    <option value="hanoi">Cầu giấy</option>
                    <option value="bacgiang">Hiệp hòa</option>
                  </select>
                </div>
                <div class="select">
                  <select id="range" name="range">
                    <option selected disabled>Hình thức tổ chức</option>
                    <option value="hanoi">Cầu giấy</option>
                    <option value="bacgiang">Hiệp hòa</option>
                  </select>
                </div>
                <Button id="btnTimkiem">Tìm Kiếm</Button>
              </div>
            </div>
          </div>
          <div id="dangKyHoSo" class="d-flex align-items-end">
            <Button id="btnRegisterProfile"><img class="mr-3" src="../assets/image/Icon/16px/Register/Black.png"
                alt="">Đăng ký hồ sơ trực tuyến
            </Button>
          </div>
        </div>
      </div>
    </div>
    <div class="container"  style="margin-top: 64px;">
      <div class="d-flex align-content-stretch justify-content-between flex-wrap">
        <div id="card-about" class="card" style="width: 180px;height: 220px;">
          <div class="card-body">
            <div class="height50">
              <img src="../assets/image/Icon/64px/1.png" alt="">
            </div>
            <div class="height50">
              <p id="textTitlep">Cấp chứng chỉ <br> hành nghề</p>
              <p id="card-text">Các chứng chỉ hành nghề : bác sĩ , dược sĩ ...</p>
            </div>
          </div>
        </div>
        <div id="card-about" class="card" style="width: 180px;height: 220px;">
          <div class="card-body ">
            <div class="height50">
              <img src="../assets/image/Icon/64px/2.png" alt="">
            </div>
            <div class="height50">
              <p id="textTitlep">Cấp giấy phép <br> hoạt động</p>
              <p id="card-text">Các chứng chỉ hành nghề : bác sĩ , dược sĩ ...</p>
            </div>


          </div>
        </div>
        <div id="card-about" class="card" style="width: 180px;height: 220px;">
          <div class="card-body ">
            <div class="height50">
              <img src="../assets/image/Icon/64px/5.png" alt="">
            </div>
            <div class="height50">
              <p id="textTitlep">Quản lý <br> hành nghề</p>
              <p id="card-text">Các chứng chỉ hành nghề : bác sĩ , dược sĩ ...</p>
            </div>


          </div>
        </div>
        <div id="card-about" class="card" style="width: 180px;height: 220px;">
          <div class="card-body ">
            <div class="height50">
              <img src="../assets/image/Icon/64px/4.png" alt="">
            </div>
            <div class="height50">
              <p id="textTitlep">Quản lý <br> Đào tạo liên tục</p>
              <p id="card-text">Các chứng chỉ hành nghề : bác sĩ , dược sĩ ...</p>
            </div>


          </div>
        </div>
        <div id="card-about" class="card" style="width: 180px;height: 220px;">
          <div class="card-body ">
            <div class="height50">
              <img src="../assets/image/Icon/64px/3.png" alt="">
            </div>
            <div class="height50">
              <p id="textTitlep">Thủ tục <br> hành chính</p>
              <p id="card-text">Các chứng chỉ hành nghề : bác sĩ , dược sĩ ...</p>
            </div>


          </div>
        </div>
        <div id="card-about" class="card" style="width: 180px;height: 220px;">
          <div class="card-body ">
            <div class="height50">
              <img src="../assets/image/Icon/64px/6.png" alt="">
            </div>
            <div class="height50">
              <p id="textTitlep">Đặt lịch <br> khám bệnh</p>
              <p id="card-text">Các chứng chỉ hành nghề : bác sĩ , dược sĩ ...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="container" id="TinTuc_SuKien">Tin tức và sự kiện</h2>
    <div class="d-flex flex-column mb-4" style="position:relative;">
      <div class="d-flex flex-row">
        <div class="container mb-5 position-relative">
          <div id="next_pre" class="pre">
            <img src="../assets/image/Icon/24px/Prev/Black.png" alt="">
          </div>
          <div class="owl-carousel owl-theme" id="owl-carousel">
            <div class="item  ml-1">
              <div class="card" id="card_slide">
                <img class="card-img-top" src="../assets/image/slide/7.jpg" alt="Card image cap">

                <h5 class="card-title">Bộ Y tế cử Tổ công tác thường trực 24/7 phòng chống dịch hỗ trợ Vĩnh Phúc.</h5>

              </div>
            </div>
            <div class="item  ml-1">
              <div class="card" id="card_slide">
                <img class="card-img-top" src="../assets/image/slide/5.jpg" alt="Card image cap">
                <h5 class="card-title">Bộ Y tế cử Tổ công tác thường trực 24/7 phòng chống dịch hỗ trợ Vĩnh Phúc.</h5>

              </div>
            </div>
            <div class="item  ml-1">
              <div class="card" id="card_slide">
                <img class="card-img-top" src="../assets/image/slide/7.jpg" alt="Card image cap">
                <h5 class="card-title">Bộ Y tế cử Tổ công tác thường trực 24/7 phòng chống dịch hỗ trợ Vĩnh Phúc.</h5>

              </div>
            </div>

            <div class="item  ml-1">
              <div class="card" id="card_slide">
                <img class="card-img-top" src="../assets/image/slide/7.jpg" alt="Card image cap">
                <h5 class="card-title">Bộ Y tế cử Tổ công tác thường trực 24/7 phòng chống dịch hỗ trợ Vĩnh Phúc.</h5>

              </div>
            </div>
            <div class="item  ml-1">
              <div class="card" id="card_slide">
                <img class="card-img-top" src="../assets/image/slide/7.jpg" alt="Card image cap">
                <h5 class="card-title">Bộ Y tế cử Tổ công tác thường trực 24/7 phòng chống dịch hỗ trợ Vĩnh Phúc.</h5>

              </div>
            </div>
            <div class="item  ml-1">
              <div class="card" id="card_slide">
                <img class="card-img-top" src="../assets/image/slide/8.jpg" alt="Card image cap">
                <h5 class="card-title">Bộ Y tế cử Tổ công tác thường trực 24/7 phòng chống dịch hỗ trợ Vĩnh Phúc.</h5>

              </div>
            </div>
          </div>

          <div id="next_pre" class="next">
            <img src="../assets/image/Icon/24px/Next/Black.png" alt="">
          </div>
        </div>
        <!-- <button type="button" class="myButton  container btn btn-light">
            <i id="icon_messger" class='fab fa-facebook-messenger'></i>
          </button> -->
      </div>
    </div>
  </div>

  <!-- End Main -->
  <!-- Footer -->
  <div id="footer">
    <div class="container  d-flex flex-column">
      <img id="logo_footer" class=" mb-5 " src="../assets/image/Logo/White@2x.png" alt="" data-toggle="tooltip"
        data-placement="bottom" title="Bộ y tế" />

      <div class="mt-5 mb-5" id="hr"></div>

      <div class="d-flex flex-row mt-3 justify-content-between flex-wrap">
        <div class="d-flex flex-column">
          <div class="d-flex flex-column">
            <p id="text_contact">Điện thoại: (84-24) 6273 2110</p>
            <p id="text_contact">Fax: (84-24) 6273 2110</p>
          </div>
          <div class="d-flex flex-column">

            <p id="text_contact">Email: Kcb@moh.gov.vn</p>
            <p id="text_contact">Địa chỉ: 138A, Giảng Võ, Ba Đình, Hà Nội.</p>
          </div>
        </div>
        <div class="d-flex flex-column">
          <p id="Text">Về chúng tôi</p>
          <div class="d-flex flex-column mt-1">
            <p id="text_contact">Giới thiệu hệ thống</p>
            <p id="text_contact">Hướng dẫn sử dụng</p>
            <p id="text_contact">Hỗ trợ</p>
          </div>
        </div>
        <div class="d-flex flex-column">
          <p id="Text">Mobile app</p>
          <a href="" id="icon_MobileAPP"> <img src="../assets/image/Badge/Apple store.png" alt=""></a>
          <a href="" id="icon_MobileAPP"> <img src="../assets/image/Badge/Play store.png" alt=""></a>

        </div>
        <div class="d-flex flex-column">
          <p id="Text">Kết nối với chúng tôi</p>
          <p style="color: rgb(255, 255, 255); font-size: 32px;">1900 66 77</p>
          <p id="text_contact">Email: gopy_hny@savis.com</p>
          <div class="d-lex flex-row mt-3">

            <a href="" style="cursor: url(../assets/image/Icon/Basic/Control.png), auto;"><img
                src="../assets/image/Icon/24px/Facebook/White.png" alt=""></a>
            <a href="" style="cursor: url(../assets/image/Icon/Basic/Control.png), auto;" class="m-4"><img
                src="../assets/image/Icon/24px/Name icon/White.png" alt=""></a>
            <a href="" style="cursor: url(../assets/image/Icon/Basic/Control.png), auto;"><img
                src="../assets/image/Icon/24px/Name icon/White Copy 1.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer -->
