.divAll {
  font-family: HelveticaNeue;
}
.container {
  max-width: 1215px;
}
#header {
  background-image: url("https://c.pxhere.com/photos/4d/3f/beatenberg_mountain_bernese_oberland_switzerland_rock_alpine_niederhorn_winter-1279647.jpg!d");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 80px;
}
.container_header {
  height: 48px;
  margin-top: 20px;
}
#img_logo {
  width: 48px;
  height: 48px;
}

#Text_slogan {
  font-weight: bold;
  font-size: 14px;
  color: #1b153a;
  letter-spacing: 0;
  line-height: 20px;
  margin: 13px;
}

#btnRegistration {
  font-weight: bold;
  height: 40px;
  font-size: 14px;
  color: #1b153a;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;
  border: none;


}
#btnLogin {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #dd223f;
  font-weight: bold;
  font-size: 14px;
  color: #fdfdfd;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  border: none;
  padding-top: 3px;
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;
}

#menu {
  height: 40px;
  background: #ffffff;
}
#menu_ul {
  padding-left: 0px;
  height: 24px;
}
#menu  ul {
  list-style-type: none;
}

#menu  ul li {
  float: left;
}

#menu ul li a {
  text-decoration: none;
  display: block;
  padding-top: 10px;
  padding-right: 40px;
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;
  font-size: 12px;
  color: #1b153a;
  letter-spacing: 0;
  text-transform: uppercase;
}

#menu ul li a:hover {
  color: #dd223f;
}
.imgLanguge{
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;
}
#slide_main {
  background-image: url("../assets/image/bg/slide.jfif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 480px;
}
#card {
  width: 360px;
  height: 405px;
  margin-top: 50px;
  bottom: 0;
  border: none;
}
.tablinks {
  width: 50%;
  text-transform: uppercase;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tab {
  overflow: hidden;
  background-color: inherit;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;
  padding: 10px;
  transition: 0.3s;
  font-size: 11px;
  font-weight: bold;
  color: #757288;
  margin-left: 0;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgb(156, 150, 150);
}

.tab button.active {
  border-bottom: 2px solid #382a89;
  color: #382a89;
}

#Text-input-card {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background: #f3f3f5;
  border-radius: 4px;
  border: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background: #f3f3f5;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: #1b153a;
  letter-spacing: 0;
  line-height: 22px;
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: url(../assets/image/Icon/16px/Dropdown/Black.svg);
  position: absolute;
  top: 10px;
  right: 0;
  padding: 0 1em;
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;
  pointer-events: none;
  transition: 0.25s all ease;
}
#btnTimkiem {
  width: 100%;
  height: 48px;
  background-color: #382a89;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 0;
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  color: #fdfdfd;
  letter-spacing: 0;
  line-height: 20px;
}
#btnRegisterProfile {
  width: 200pt;
  height: 48px;
  background-color: #f3f3f5;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;
  border-radius: 4px;
  font-weight: bold;
  color: #dd223f;
  letter-spacing: 0;
  line-height: 20px;
  left: 0;
}
#card-about {
  margin-bottom: 10px;
}
#card-about:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;
  border: none;
}
.height50{
  height: 50%;
}
#textTitlep {
  font-weight: bold;
  font-size: 16px;
  color: #1b153a;
  letter-spacing: 0;
  line-height: 22px;
}

#card-text {
  font-size: 12px;
  color: #1b153a;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 0;
}
#TinTuc_SuKien {
  margin-top: 64px;
  margin-bottom: 31px;
  font-weight: bold;
}
#next_pre {
  display: block;
  z-index: 2;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  padding-left: 15px;
  padding-top: 10px;
  border-radius: 50px;
  animation: mymove 5s infinite;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;
}
@keyframes mymove {
  80% {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
}
.pre {
  top: 80px;
  left: -6px;
  //   left: 300px;
  position: absolute;
}
.next {
  right: 0;
  left: 1174px;
  bottom: 140px;
  position: absolute;
}
#card_slide {
  width: 285px;
  height: 270px;
  border: none;
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;
}
.card-img-top {
  height: 185px;
}
.card-title {
  font-weight: bold;
  font-size: 14px;
  color: #1b153a;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 10px;
}

#footer {
  background: #1b153a;
  width: 100%;
  height: 480px;
}
#Text {
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
}
#text_contact {
  color: rgb(255, 255, 255);
}

#hr {
  border: 1px solid rgb(231, 206, 206);
  opacity: 0.1;
}
#logo_footer {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  margin-top: 50px;
}
#icon_MobileAPP {
  margin: 9px;
  margin-left: 0;
  cursor: url(../assets/image/Icon/Basic/Control.png), auto;

}




@media only screen and (max-width: 945px) {
  #header {
    display: none;
  }
}

@media only screen and (max-width: 820px) {
  #menu_ul {
    display: none;
  }
  #btnRegisterProfile {
    display: none;
  }
}
@media only screen and (max-width: 995px) {
  #Text {
    text-transform: uppercase;
    opacity: 0.5;

    font-weight: bolder;
    font-size: 10px;
    color: #ffffff;
  }
  #text_contact {
    color: rgb(255, 255, 255);
    font-size: 10px;
  }
}
// .myButton {
//   align-self: end;
//   width: 60px;
//   height: 70px;
//   border-radius: 50px;
//   padding-right: 58px;
//   background-color: #ffffff;
//   box-shadow: 1px 1px 1px 1px rgb(209, 165, 165);
//   position: fixed;
//   bottom: 20px;
//   // right: 255px;
//   right: 300px;
//   z-index: 3;
// }
